*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard_content {
    padding: 10px;
    font-family: sans-serif;
}

.dashboard_heading {
    text-align: center;
    margin-bottom: 2px;
}

.dashboard_subtext {
    text-align: center;
    font-style: italic;
}

.dashboard_section{
    display: flex;
}

.dashboard_section ul li{
    margin: 20px 0;
    padding: 10px;
}

.dashboard_section ul li ol li{
    list-style-type:decimal;
    padding: 0;
    margin: 0 0 0 10px;
    box-shadow: none;
}

.dashboard_sub_section_left, .dashboard_sub_section_right{
    width: 50%;
    margin: 10px;
}