*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home_container{
    padding: 10px;
}

.top_controls{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.search_product{
  width: 80%;
  padding: 10px;
}

.toggle_button{
  width: 20%;
}

.toggle_button_des{
  width: 50%;
  padding: 10px;
}

.product-wrapper.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-wrapper.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.toggle-buttons {
  margin-bottom: 20px;
}

@media screen and (max-width:900px) { 
  .search_product{
    width: 60%;
  }
  .toggle_button{
    width: 40%;
    display: flex;
  }
  .toggle_button_des{
    width: 100%;
  }
}

@media screen and (max-width:450px) {
  .top_controls{
    flex-direction: column;
  }  
  .search_product{
    width: 100%;
    padding: 4px;
  }
  .toggle_button{
    width: 100%;
    display: flex;
  }
  .toggle_button_des{
    width: 100%;
    padding: 4px;
  }
}
